.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  img{
    width: 40px;
  }
}

.main-poster{
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url('//9848493.fls.doubleclick.net/activityi;src=9848493;type=hmx;cat=hboma0;ord=1;num=9276998317222;gtm=2wg9r0;auiddc=1630889098.1626041430;u2=%2Fpage%2Furn%3Ahbo%3Apage%3Ahome;u3=undefined;ps=1;~oref=https%3A%2F%2Fplay.hbomax.com%2Fpage%2Furn%3Ahbo%3Apage%3Ahome?');
  background-size: cover;
  background-position: center;
}
